.main{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    color: aliceblue;
}

.head{
    position: relative;
    text-align: center;
    font-size: 150%;
}

.temp, .feelslike{
    cursor: pointer;
}

.feelslike{
    font-size: 80%;
    
    position: relative;
    margin-top: -3%;
}

.detail{
    position: absolute;
    bottom: 0;
    left: 0;
}

.airQuality{
    margin: 50px;
}

.statusAirDiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 109px;
}

.statusAirIcon{
    position: relative;
    width: 10px;
    height: 10px;
    display: block;
    /* background-color: red; */
    border-radius: 100%;
}

.popup-AirQuality{
    visibility: hidden;
    width: 160px;
    background-color: #555;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.ListAirQuality{
    background-color: #555;
}
